*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#slider{
    position: relative;
    width: 100vw;
    height: 75vh;
    overflow: hidden;
    /* border:1px solid black; */
}
#slider>ul{
    position:relative;
    list-style: none;
    height:100%;
    width:10000%;
    padding:0;
    margin: 0;
    transition: all 750ms ease;
    left: 0;
}
#slider>ul>li{
    position: relative;
    height: 100%;

    float:left;
}
#slider>ul>li>img{
    width: 100vw;
    height: 75vh;
}
#slider>#prev,#slider>#next{
    width: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    font-size: 2rem;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    transform: translateY(-50%);
    transition: all 150ms ease;
}
#slider>#prev{
    left: 10px;
}
#slider>#next{
    right:10px
}
#slider>#prev:hover,#slider>#next:hover{
    background-color: rgba(0,0,0,0.5);
    text-shadow: 0;
}


@media screen and (max-width:768px) {
    #slider{
        width: 100vw;
        height: 50vh;
    }
    #slider>ul>li>img{
        width: 100vw;
        height: 50vh;
    }
}